*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
}

h1{
  font-size:20px;
  padding:20px;
}

.container > h1 {
  font-family:sans-serif;
  text-transform:uppercase;
  text-align:center;
}

.preview{
  background-size:cover;
  width:80%;
  height:400px;
  float:left;
}

.baku {
 background-image: url("https://preview.ibb.co/hZnEe6/baku.jpg");
}

.london {
  background-image: url("https://image.ibb.co/iCbkmm/london.png");
}

.madrid{
  background-image: url("https://image.ibb.co/c3m7z6/madrid.jpg");
}

.rome {
  background-image: url("https://preview.ibb.co/naJy6m/rome.jpg");
}
@media screen and (min-width:575px){
.preview{
  width:40%;
  height:250px;
  margin-bottom:3%;
  margin-left:3%
}
}
  @media screen and (min-width:991px){
  .preview{
    width:23%;
    height:300px;
    margin-left:1%;
  }
}
