*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #dadada;
}
h1{
  font-size:20px;
  padding:20px;
}
.title{
  font-family:sans-serif;
  text-align:center;
  text-transform:uppercase;
}
h1{
  font-size:20px;
  padding: 20px;
}
.preview{
  background-size:cover;
  width:80%;
  height:400px;
  margin:5px;
  float:right;
}

.baku {
 background-image: url("https://preview.ibb.co/hZnEe6/baku.jpg");
}

.london {
  background-image: url("https://image.ibb.co/iCbkmm/london.png");
}

.madrid{
  background-image: url("https://image.ibb.co/c3m7z6/madrid.jpg");
}

.rome {
  background-image: url("https://preview.ibb.co/naJy6m/rome.jpg");
}
@media screen and (min-width:575px){
.preview{
  width:40%;
  height: 250px;
  margin: 5px;
}
}
  @media screen and (min-width:991px){
  .preview{
    width: 23%;
    height: 300px;
    margin: 10px;
  }
}
